@mixin setArrow($direction, $arrowsize, $borderColor, $borderWidth) {
  display: inline-block;
  height: $arrowsize;
  width: $arrowsize;
  border-width: $borderWidth $borderWidth 0 0;
  border-color: $borderColor;
  border-style: solid;

  @if($direction=='down') {
    transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0) translate(-50%, 50%);
  }
  @else if($direction=='top') {
    transform: matrix(0.71,-0.71,0.71,0.71,0,0) translate(-50%, -50%);
  }
  @else if($direction=='right') {
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0) translate(-50%, 0);
  }
}
